build
extjars
jars
*.o
Makefile
Makefile.Debug
Makefile.Release
.kdev_include_paths
*.kdev4
buildlogs

examples/generator/hello_world_generator/bin
examples/generator/hello_world_generator/tmp

bin
${timestamp.dir}
qtjambi*.jar