#some internal stuff, should be moved out sooner or later

timestamp.dir                   = build/timestamps

java.srcdir                     = src/java
#java.generated.srcdir           = build/java/generated-source
java.outdir                     = build/java/out
jardir                          = jars

generator.outputdir             = build/generator/out
generator.xmlmerge.srcdir       = generator/typesystem/xml
generator.xmlmerge.outputdir    = build/generator

juic.outputdir                  = build/juic/out

# Do not set anything to this variable, unless you have machine which
# whines about empty java.library.path in some stage (Gentoo)
#qtjambi.java.library.path       = /usr/lib/gcc/i686-pc-linux-gnu/4.4.5

## NOTE: following variables are set automatically if QTDIR is set

# path to directory where qmake of current Qt version is
qt.bindir			= /usr/bin
# path where Qt's libraries are
qt.libdir                       = /usr/lib/qt4
# path to Qt's include directory
qt.includedir                   = /usr/include/qt4
# path to directory where Qt's plugins directory (plugins/) is
qt.pluginsdir                   = /usr/lib/qt4

# if true, uses kde phonon specific generation and bundling
qtjambi.phonon.kdephonon        = false

## These paths are same than above, but for phonon
## keep them commented if your phonon is within Qt
## On Windows just keep these commented.

#qtjambi.phonon.includedir       = /usr/include
#qtjambi.phonon.libdir           = /usr/lib
#qtjambi.phonon.pluginsdir       = /usr/lib/kde4
