
# has some internal stuff, should be moved out sooner or later

# This seems to be only used by examples...
# Should be removed and source / output moved to its correct location.
java.generated.srcdir           = build/java/generated-source

java.srcdir                     = src/java
java.outdir                     = build/java/out
jardir                          = jars

generator.outputdir             = build/generator/out
generator.xmlmerge.srcdir       = generator/typesystem/xml
generator.xmlmerge.outputdir    = build/generator

juic.outputdir                  = build/juic/out

# Required by some memory management related unit tests, to run properly.
# It does not make any difference in building, but lowers the runtime performance.
# You should leave it as false unless you want fully working unit tests.
qtjambi.debug-tools = false

#TODO: this one should be provided externally, handled by ant configure, external file or something...
#this is just too hacky
# Do not set anything to this variable, unless you have machine which
# whines about empty java.library.path in some stage (Gentoo)
qtjambi.java.library.path       = /usr/lib/gcc/i686-pc-linux-gnu/4.5.2

## NOTE: following variables are set automatically if QTDIR is set

# path to directory where qmake is
qt.bindir                       = /usr/bin
# path where Qt's libraries are
qt.libdir                       = /usr/lib/qt4
# path to Qt's include directory
qt.includedir                   = /usr/include/qt4
# path to directory where Qt's plugins directory is
qt.pluginsdir                   = /usr/lib/qt4

## these paths are same than above, but for phonon
## keep them commented out if your phonon is within Qt

qtjambi.phonon.kdephonon        = true
qtjambi.phonon.includedir       = /usr/include
qtjambi.phonon.libdir           = /usr/lib
qtjambi.phonon.pluginsdir       = /usr/lib/kde4

generator.qt.bindir             = /opt/mingw-qt/bin
generator.qt.libdir             = /opt/mingw-qt/lib
generator.qt.qmake              = qmake
qt.qmake                        = qmake
