<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Qt Designer"
            extensions="ui"
            icon="icons/designer.gif"
            contributorClass="com.trolltech.qtdesigner.editors.DesignerActionBarContributor"
            class="com.trolltech.qtdesigner.editors.UiEditor"
            id="com.trolltech.qtdesigner.editors.UiEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Qt"
            id="qtViews"/>
      <view
            allowMultiple="false"
            icon="icons/widgetview.gif"
            class="com.trolltech.qtdesigner.views.WidgetBoxView"
            category="qtViews"
            name="Qt Widget Box"
            id="com.trolltech.qtdesigner.views.widgetboxview"/>
      <view
            allowMultiple="false"
            icon="icons/propertiesview.gif"
            class="com.trolltech.qtdesigner.views.PropertyEditorView"
            category="qtViews"
            name="Qt Property Editor"
            id="com.trolltech.qtdesigner.views.propertyeditorview"/>
      <view
            allowMultiple="false"
            icon="icons/objectinspectorview.gif"
            class="com.trolltech.qtdesigner.views.ObjectInspectorView"
            category="qtViews"
            name="Qt Object Inspector"
            id="com.trolltech.qtdesigner.views.objectinspectorview"/>
      <view
            allowMultiple="false"
            category="qtViews"
            class="com.trolltech.qtdesigner.views.ActionEditorView"
            icon="icons/actionview.gif"
            id="com.trolltech.qtdesigner.views.actioneditorview"
            name="Qt Action Editor"/>
      <view
            allowMultiple="false"
            category="qtViews"
            class="com.trolltech.qtdesigner.views.ResourceEditorView"
            icon="icons/resourceview.gif"
            id="com.trolltech.qtdesigner.views.resourceeditorview"
            name="Qt Resource Editor"/>
      <view
            allowMultiple="false"
            category="qtViews"
            class="com.trolltech.qtdesigner.views.SignalSlotEditorView"
            icon="icons/signalslotview.gif"
            id="com.trolltech.qtdesigner.views.signalsloteditorview"
            name="Qt Signal Slot Editor"/>
   </extension>
   <extension
         id="com.trolltech.qtdesigner.perspectiveExtensions"
         name="Qt Designer Perspective Extension"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.cdt.ui.CPerspective">
         <viewShortcut id="com.trolltech.qtdesigner.views.widgetboxview"/>
         <viewShortcut id="com.trolltech.qtdesigner.views.propertyeditorview"/>
         <viewShortcut id="com.trolltech.qtdesigner.views.objectinspectorview"/>
         <viewShortcut id="com.trolltech.qtdesigner.views.actioneditorview"/>
         <viewShortcut id="com.trolltech.qtdesigner.views.resourceeditorview"/>
         <viewShortcut id="com.trolltech.qtdesigner.views.signalsloteditorview"/>
         <view
               id="com.trolltech.qtdesigner.views.propertyeditorview"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"/>
         <view
               id="com.trolltech.qtdesigner.views.widgetboxview"
               relationship="stack"
               relative="org.eclipse.cdt.ui.CView"/>
               
      </perspectiveExtension>
   </extension>

</plugin>
