<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension
         id="QtNature"
         name="Qt Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.trolltech.qtproject.QtNature">               
         </run>
      </runtime>
      <builder
            id="com.trolltech.qtproject.QtMakefileGenerator">
      </builder>      
    </extension>
    
    <extension
         id="QtMakefileGenerator"
         name="Qt Makefile Generator"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.trolltech.qtproject.qmake.QtMakefileGenerator">
         </run>
      </builder>
   </extension>
   
   <extension
         id="QtNewProjectWizard"
         point="org.eclipse.ui.newWizards">
      <category
      		id="com.trolltech.qtproject.QtCategory"
      		name="Qt">      
      </category>
      <wizard
            category="com.trolltech.qtproject.QtCategory"
            class="com.trolltech.qtproject.wizards.QtConsoleProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="images/consoleproject.gif"
            id="com.trolltech.qtproject.wizards.QtConsoleProjectWizard"
            name="Qt Console Project"
            project="true">
            <description> 
              Create a Qt Console Application Project. 
          	</description> 
      </wizard>
      <wizard
            category="com.trolltech.qtproject.QtCategory"
            class="com.trolltech.qtproject.wizards.QtGuiProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="images/guiproject.gif"
            id="com.trolltech.qtproject.wizards.QtGuiProjectWizard"
            name="Qt Gui Project"
            project="true">

            <description> 
              Create a Qt Gui Application Project. 
          	</description> 
      </wizard>
      <wizard
            category="com.trolltech.qtproject.QtCategory"
            class="com.trolltech.qtproject.wizards.QtGuiExampleProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="images/guiproject.gif"
            id="com.trolltech.qtproject.wizards.QtGuiExampleProjectWizard"
            name="Qt Gui Example Project"
            project="true">

            <description> 
              Create a Qt Gui Example Application Project. 
          	</description> 
      </wizard>
      <wizard
            class="com.trolltech.qtproject.wizards.QtConversionWizard"
            category="com.trolltech.qtproject.QtCategory"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            project="true"
            name="Convert to Qt"
            id="com.trolltech.qtproject.wizards.QtConversionWizard"
            icon="images/emptyproject.gif">
            <description> 
              Convert an existing project to a Qt project.
          	</description> 
      </wizard>
 	</extension>
 	
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Qt Project Editor"
            extensions="pro,pri"
            icon="images/proeditor.gif"
            contributorClass="com.trolltech.qtproject.editors.ProEditorActionContributor"
            class="com.trolltech.qtproject.editors.ProEditor"
            id="com.trolltech.qtproject.editors.ProEditor">
      </editor>      
   </extension>
   
   <extension
         point="org.eclipse.cdt.ui.CElementFilters">
      <filter
            targetId="org.eclipse.cdt.ui.CView"
            name="Makefiles"
            description="Makefiles"
            selected="true"
            pattern="Makefile*">
      </filter>
      <filter
            targetId="org.eclipse.cdt.ui.CView"
            name="UI Header Files"
            description="Generated UI Header Files"
            selected="true"
            pattern="ui_*.h">
      </filter>
      <filter
            targetId="org.eclipse.cdt.ui.CView"
            name="Generated Meta Object Files"
            description="Generated Meta Object Files"
            selected="true"
            pattern="moc_*.cpp">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.trolltech.qtproject.preferences.QtPreferencePage"
            id="com.trolltech.qtproject.preferences.QtPreferencePage"
            name="Qt Preferences"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="com.trolltech.qtproject.properties.QtPropertyPage"
            id="com.trolltech.qtproject.properties.QtPropertyPage"
            name="Qt Properties"
            objectClass="org.eclipse.core.resources.IProject">
			<filter name="nature" value="com.trolltech.qtproject.QtNature"></filter>
	  </page>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.trolltech.qtproject.wizards.ImportQtCategory"
            name="Qt"/>
      <wizard
            category="com.trolltech.qtproject.wizards.ImportQtCategory"
            class="com.trolltech.qtproject.wizards.ImportQtWizard"
            icon="images/emptyproject.gif"
            id="com.trolltech.qtproject.wizards.ImportQtWizard"
            name="Qt Project">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.trolltech.qtproject.wizards.NewQtClassWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            hasPages="true"
            icon="images/qtclass.gif"
            id="com.trolltech.qtproject.wizards.NewQtClassWizard"
            name="Qt Class"
            preferredPerspectives="org.eclipse.cdt.ui.CPerspective"/>
   </extension>
   <extension
         id="com.trolltech.qtproject.perspectiveExtensions"
         name="Qt Perspective Extension"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.cdt.ui.CPerspective">
         <newWizardShortcut id="com.trolltech.qtproject.wizards.NewQtClassWizard"/>
         <newWizardShortcut id="com.trolltech.qtproject.wizards.QtEmptyProjectWizard"/>
         <newWizardShortcut id="com.trolltech.qtproject.wizards.QtConsoleProjectWizard"/>
         <newWizardShortcut id="com.trolltech.qtproject.wizards.QtGuiProjectWizard"/>
         <newWizardShortcut id="com.trolltech.qtproject.wizards.QtConversionWizard"/>
      </perspectiveExtension>
   </extension>
 


 	
</plugin>
