<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
     <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Qt Designer"
            extensions="ui"
            icon="icons/designer.gif"
            contributorClass="com.trolltech.qtdesigner.editors.DesignerActionBarContributor"
            class="com.trolltech.qtdesigner.editors.UiEditor"
            id="com.trolltech.qtdesigner.editors.UiEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Qt"
            id="qtViews"/>
      <view
            allowMultiple="false"
            icon="icons/designer.gif"
            class="com.trolltech.qtdesigner.views.WidgetBoxView"
            category="qtViews"
            name="Qt Widget Box"
            id="com.trolltech.qtdesigner.views.widgetboxview"/>
      <view
            allowMultiple="false"
            icon="icons/designer.gif"
            class="com.trolltech.qtdesigner.views.PropertyEditorView"
            category="qtViews"
            name="Qt Property Editor"
            id="com.trolltech.qtdesigner.views.propertyeditorview"/>
      <view
            allowMultiple="false"
            icon="icons/designer.gif"
            class="com.trolltech.qtdesigner.views.ObjectInspectorView"
            category="qtViews"
            name="Qt Object Inspector"
            id="com.trolltech.qtdesigner.views.objectinspectorview"/>
      <view
            allowMultiple="false"
            category="qtViews"
            class="com.trolltech.qtdesigner.views.ActionEditorView"
            icon="icons/designer.gif"
            id="com.trolltech.qtdesigner.views.actioneditorview"
            name="Qt Action Editor"/>
      <view
            allowMultiple="false"
            category="qtViews"
            class="com.trolltech.qtdesigner.views.ResourceEditorView"
            icon="icons/designer.gif"
            id="com.trolltech.qtdesigner.views.resourceeditorview"
            name="Qt Resource Editor"/>
      <view
            allowMultiple="false"
            category="qtViews"
            class="com.trolltech.qtdesigner.views.SignalSlotEditorView"
            icon="icons/designer.gif"
            id="com.trolltech.qtdesigner.views.signalsloteditorview"
            name="Qt Signal Slot Editor"/>
   </extension>

</plugin>
